@model IEnumerable<Book_kharido.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Partail_Admin" />

<div class="col-lg-9 col-12 col-lg-9 my-3 ">
    <div class="table-container px-5">
        
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConutryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConutryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>

    </div>
</div>



