@model Book_kharido.Models.Contact

@{
    ViewData["Title"] = "Delete";
}
<partial name="_Partail_Admin" />
<div class="col-lg-9 col-12 col-lg-9 my-3">
    <a asp-action="AddProduct" asp-controller="Admin" class="btn float-end rounded-2">+</a>

    <div class="table-container">
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAQ.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordertime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordertime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContactId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
    </div>
</div>
</div>
