@model IEnumerable<Book_kharido.Models.FAQ>

@{
    ViewData["Title"] = "Index";
}



<partial name="_Partail_Admin" />
<div class="col-lg-9 col-12 col-lg-9 my-3">
    <a asp-action="AddProduct" asp-controller="Admin" class="btn float-end rounded-2">+</a>

    <div class="table-container">
        
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FAQsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FAQsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FAQsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
</div>

